---
layout: default
title: Home
---

<div class="posts">
  {% assign sorted_posts = paginator.posts | sort: 'updated_on' | reverse %}
  {% for post in sorted_posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}{% if post.show_updated %},&nbsp; Updated on {{ post.updated_on | date_to_string }}{% endif %}</span>

    {% if post.categories %}
      <span class="categories">
        &diams; {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
      </span>
    {% endif %}

    {{ post.excerpt }}

    <span class="read-more"><a href="{{ site.baseurl }}{{ post.url }}">&raquo; Read More</a></span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

